<html>
<body>
    <h1>WELCOME TO LIBRARY</h1>

    <form action = {% url 'home'%}  method ='POST'>
      {% csrf_token %}
    book id :- <input datatype ="number" name = "bid" value ="{{book.id}}" readonly> <br><br>
    book name:- <input datatype="text" placeholder="Enter book-name" name = "bname" value ="{{book.name}}"  ><br><br>
    book price:- <input datatype = "number" placeholder="Enter book-price" name = "bprice" value="{{book.price}}"><br><br>
    book qty :- <input datatype = "number" placeholder="Enter book-qty" name ="bqty"value="{{book.qty}}"><br><br>
    book published:- <input datatype = "text" placeholder="Enter book-published" name= "bpub" value="{{book.is_published}}"><br><br>
    

    <button type ="submit" class ="btn btn-primary" >Submit</button>
    <input type ="submit" value="Submit">
    </form>
<br>
<br>
<a href= "{%url "show-book" %}"class=btn btn-primary>ALL BOOK</a><br><br>
<a href = "{%url "available_book"%}"class = btn btn-primary>available</a><br><br>
<a href = "{%url "unavailable_book"%}"class = btn btn-primary>unavailable</a><br><br>

</body>


</html>



<html>

<body>
  <h1>book adds</h1>
  <form action={%url "home"%} method= POST>
    book id:-<input datatype="number" name="bid" value= "{{book.id}}">
</body>
</html>